td, th {
	border: 1px solid gray;
	width: 8rem;
    height: 3rem;
    text-align: center;
    background: goldenrod;
}

table{
    border-collapse: collapse;

}

table.center {
    width:70%; 
    margin-left:15%; 
    margin-right:15%;
}