<form action="/bin/subscribeServlet" method="GET">

        <fieldset> 
            <legend>Subscribe to our News Letter:</legend>

            <div>
                <label for="firstName" id= "labelFirstName">First Name</label>
                <input type="text" name="firstName" id="firstName" value=""><br><br>
                <label for="lastName" id = "labelLastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" value=""><br><br>
                <label for="phone" id = "labelPhone">Phone</label>
                <input type="text" name="phone" id="phone" value=""><br><br>
                <label for="email" id = "labelEmail">Email</label>
                <input type="text" name="email" id="email" value=""><br><br>
                <label for="message" id = "labelMessage">Click to susbcribe!</label><br>
            </div>

            <input type="submit" value="Subscribe">
        </fieldset>
</form>