h3{
    height: 50px;
    text-align: center;
    font-size: 50px;
}

th{
    background-color: #527a66;
}

td{
    border-radius: 5px;
    border: solid 1px;
    border-color: #A9A9A9;
    vertical-align:top
}

#calendar{
    height: 700px;
    width: 100%
}

.table{
    background-color: white;
    border: 1px;
}

.first-event{
    background-color: #DEB887;
}