<div data-sly-use.placeholderTemplate="core/wcm/components/commons/v1/templates.html"
	 data-sly-use.blade="com.adobe.aem.sample.core.models.Blade_Sample"
     data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
	 data-sly-call="${clientlib.all @ categories='sample.components.blade'}"
     class="cmp-blade"
     id="image_container"
     data-img-refs='["${blade.fileReference}","${blade.fileReference2}","${blade.fileReference3}"]'
     >
</div>
	<div class="background_container" style="height:250px;">
    	 <div class="cmp-blade__title">
      	   <h1>${blade.bladetitle}</h1>
		</div>
        <div class="cmp-blade__content">
            <p>${blade.content}</p>
        </div>
    </div>


<sly data-sly-call="${placeholderTemplate.placeholder @ isEmpty=!properties.bladetitle}"></sly>

<!--this html has been cleaned up-->